<%= form_with model: [:admin, @badge] do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :badge_name %>
  </p>

  <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url, id: :badge_image_url %>
  </p>

  <p>
    <%= form.label :rule %>:
    <%= form.select :rule, Badge::RULES, id: :badge_rule, prompt: true %>
  </p>

  <p>
    <%= form.label :parameter %>:
    <%= form.collection_select :parameter, Category.all, :id, :title, id: :badge_parameter, prompt:true %>
  </p>

  <p><%= form.submit %></p>
<% end %>