<p>
  <strong><%= t('.name') %>:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong><%= t('.badge_image') %>:</strong>
  <%= image_tag( @badge.image_url, size: "30x30", alt: t('.alt_image_tag')) %>
</p>

<p>
  <strong><%= t('.image_url') %>:</strong>
  <%= @badge.image_url %>
</p>

<p>
  <strong><%= t('.rule') %>:</strong>
  <%= @badge.rule %>
</p>

<p>
  <strong><%= t('.parameter') %>:</strong>
  <%= @badge.parameter %>
</p>

<br>
<%= link_to t('.edit'), edit_admin_badge_path(@badge) %>
<%= link_to t('.back_to_badges'), admin_badges_path %>