<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <h1><%= t('.table.header') %></h1>
  </div>

  <div class="col-9">
    <table class="table table-sm">
      <thead class="table align-middle">
      <tr>
        <th scope="col"><%= t('.table.question') %></th>
        <th scope="col"><%= t('.table.author_email') %></th>
        <th scope="col"><%= t('.table.gist_url') %></th>
      </tr>
      </thead>
      <tbody class="table-group-divider align-middle">
      <%= render @gists %>
      </tbody>
    </table>
  </div>
</div>