<p class="nav user"><%= link_to 'Test Guru project', root_path %></p>
  <% if user_signed_in? %>
    <p class="nav user">
      Welcome, Guru <b><%= current_user.surname %> <%= current_user.name %></b>!
      <br>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
    </p>
  <% else %>
    <p class="nav user">
      <%= link_to 'Sign up', new_user_registration_path %>
      <br>
      <%= link_to 'Sign in',  new_user_session_path%>
    </p>
  <% end %>