<%= form_with model: [:admin, @question, @answer] do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <p>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, id: :answer_body, value: @answer.body, cols: 30, rows: 3 %>
  </p>

  <p>
    <%= form.label :value, style: "display: block" %>
    <%= form.number_field :value, id: :answer_value, step: '0.1'%>
  </p>

  <p>
    <%= form.label :correct, style: "display: block" %>
    <%= form.check_box :correct, id: :answer_correct %>
  </p>

  <%= form.submit %>
<% end %>
