<h3><%= question_header(@test, @question) %></h3>
<%= render 'shared/errors', resource: @question %>

<%= form_with model: [:admin, @test, @question] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, id: :question_title, value: @question.body, cols: 100, rows: 8 %>
  </p>

  <p><%= form.submit %></p>
<% end %>