<p>
  <strong><%= t('.table.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.table.level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.table.category_id') %>:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('.table.author_id') %>:</strong>
  <%= @test.author.surname %>
</p>

<p>
  <strong><%= t('.table.ready_to_be_run') %>:</strong>
  <%= @test.ready_to_be_run %>
</p>

<h3><%= t('.table.questions') %>:</h3>

<%= link_to t('.new_question'), new_admin_test_question_path(test_id: @test.id), class: "btn btn-info" %>
<br>
<br>

<table>
  <%= render @questions %>
</table>

<br>
<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.back_to_tests'), admin_tests_path %>
