<p>
  <strong><%= t('.table.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.table.level') %>:</strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.table.category_id') %>:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('.table.author_id') %>:</strong>
  <%= @test.author.surname %>
</p>

<h3><%= t('.table.questions') %>:</h3>

<%= link_to 'Add new question', new_admin_test_question_path(test_id: @test.id) %>
<br>
<br>

<table>
  <%= render @questions %>
</table>

<br>
<%= link_to 'Edit this test', edit_admin_test_path(@test) %>
<%= link_to 'Back to tests list', admin_tests_path %>
