<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @test.author_id %>
</p>

<h3>Questions within test:</h3>

Questions<%= link_to 'Add new question', new_admin_test_question_path(test_id: @test.id) %>
<br>
<br>

<table>
  <%= render @questions %>
</table>

<br>
<%= link_to 'Edit this test', edit_admin_test_path(@test) %>
<%= link_to 'Back to tests list', admin_tests_path %>
