<%= form_with model: @test do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :category_id %>:
    <%= form.collection_select :category_id, Category.all, :id, :title, id: :test_category_id, prompt: true %>
  </p>

  <% if @test.author_id? %>
    <p>
      <%= form.label :author_id %>:
      <%= form.collection_select :author_id, User.all, :id, :surname, id: :test_author_id, prompt: true %>
    </p>
  <% end %>

  <p><%= form.submit %></p>
<% end %>