<h1><%= t('.table.header') %></h1>

<table >
  <tr>
    <th><%= t('.table.title') %></th>
    <th><%= t('.table.level') %></th>
    <th><%= t('.table.category_id') %></th>
    <th><%= t('.table.questions_count') %></th>
    <th><%= t('.table.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
