<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title><%= t('.header') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <%= render 'admin/nav_bar' %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </div>
  </body>
</html>